apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: loki-data
  namespace: default
  labels:
    app: loki
spec:
  accessModes:
    - ReadWriteOnce
  storageClassName: standard
  resources:
    requests:
      storage: 5Gi
