apiVersion: v1
kind: ConfigMap
metadata:
  name: promtail-config
  namespace: default
  labels:
    app: promtail
data:
  promtail.yml: |
    server:
      http_listen_port: 9080
      grpc_listen_port: 0

    positions:
      filename: /tmp/positions.yaml

    clients:
      - url: http://loki:3100/loki/api/v1/push

    scrape_configs:
      - job_name: kubernetes-pods
        kubernetes_sd_configs:
          - role: pod

        pipeline_stages:
          - cri: {}

        relabel_configs:
          # Useful labels in Grafana/Loki
          - source_labels: [__meta_kubernetes_namespace]
            target_label: namespace
          - source_labels: [__meta_kubernetes_pod_name]
            target_label: pod
          - source_labels: [__meta_kubernetes_pod_container_name]
            target_label: container
          - source_labels: [__meta_kubernetes_pod_node_name]
            target_label: node

          # "app" label if present (otherwise it will be empty, that's fine)
          - source_labels: [__meta_kubernetes_pod_label_app]
            target_label: app

          # Tell promtail which files to read
          - action: replace
            source_labels: [__meta_kubernetes_pod_container_name, __meta_kubernetes_pod_name, __meta_kubernetes_namespace]
            separator: _
            target_label: __path__
            replacement: /var/log/containers/*$2*$3*$1*.log
